/*
    ComSource document style

    Page rules.
 */

body {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    font-style: normal;
    text-transform: uppercase;
}

h1, h2, h3 {
    font-weight: 400;
}

h4, h5, h6 {
    font-weight: 300;
    text-transform: uppercase;
}

a {
    color: #555;
}

b, strong {
    font-weight: 400;
    font-size: 1.2em;
}

p {
    text-align: justify;
    line-height: 1.2em;
}

ul {
    li { line-height: 1.4em }
}

/* ------ Flyleaf page */
header {
    padding: 1cm 1cm 0;

    h1 {
        margin-top: 3em;
        text-align: center;
    }

    h2,
    h3 {
        text-transform: none;
        text-align: center;
    }

    .logo {
        text-align: center;
        margin: 7cm;
    }

    .info {
        margin-top: 7cm;
        padding: 1cm 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}

table {
    width: 100%;

    th,
    td {
        padding: 0.3cm;
    }

    thead {
        background: #efefef;

        th {
            width: 33%;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: rgba(#efefef, 0.5);
            }
        }
    }
}