/*
    ComSource document style

    Print rules.
 */

pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

/* h5bp.com/t */
tr {
    page-break-inside: avoid;
}

img {
    page-break-inside: avoid;
    max-width: 100% !important;
}

p, h2, h3 {
    orphans: 3;
    widows: 3;
}

h2, h3 {
    page-break-after: avoid;
}

h1:not(:first-child) {
    page-break-before:always;
}

@mixin headers(){
    font-family: 'Myriad Pro Light';
    font-weight: 100;
    font-size: 12px;
}

@page {
    size:A4;
    margin:2cm;
    border-top: 0.3px solid #333;
    border-bottom: 0.3px solid #333;
    @top-left {
        padding-top:1cm;
        @include headers;
        content: "Association Django-FR";
    }
    @bottom-right {
        padding-top:0;
        @include headers;
        content: "Page " counter(page) "/" counter(pages);
    }
}

@page:first {
    margin:0;
    border:0;
    @top-left {
        content: "";
    }
    @bottom-right {
        content: "";
    }
}

