/*
    ComSource documents style

    Author: Julien Maupetit
    Date: July 2013
 */
/*
    ComSource document style

    Page rules.
 */
body {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
  font-style: normal;
  text-transform: uppercase; }

h1, h2, h3 {
  font-weight: 400; }

h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase; }

a {
  color: #555; }

b, strong {
  font-weight: 400;
  font-size: 1.2em; }

p {
  text-align: justify;
  line-height: 1.2em; }

ul li {
  line-height: 1.4em; }

/* ------ Flyleaf page */
header {
  padding: 1cm 1cm 0; }
  header h1 {
    margin-top: 3em;
    text-align: center; }
  header h2,
  header h3 {
    text-transform: none;
    text-align: center; }
  header .logo {
    text-align: center;
    margin: 7cm; }
  header .info {
    margin-top: 7cm;
    padding: 1cm 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; }

table {
  width: 100%; }
  table th,
  table td {
    padding: 0.3cm; }
  table thead {
    background: #efefef; }
    table thead th {
      width: 33%; }
  table tbody tr:nth-child(even) {
    background: rgba(239, 239, 239, 0.5); }

/*
    ComSource document style

    Print rules.
 */
pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid; }

thead {
  display: table-header-group; }

/* h5bp.com/t */
tr {
  page-break-inside: avoid; }

img {
  page-break-inside: avoid;
  max-width: 100% !important; }

p, h2, h3 {
  orphans: 3;
  widows: 3; }

h2, h3 {
  page-break-after: avoid; }

h1:not(:first-child) {
  page-break-before: always; }

@page {
  size: A4;
  margin: 2cm;
  border-top: 0.3px solid #333;
  border-bottom: 0.3px solid #333;
  @top-left {
    padding-top: 1cm;
    font-family: 'Myriad Pro Light';
    font-weight: 100;
    font-size: 12px;
    content: "Association Django-FR"; }
  @bottom-right {
    padding-top: 0;
    font-family: 'Myriad Pro Light';
    font-weight: 100;
    font-size: 12px;
    content: "Page " counter(page) "/" counter(pages); } }
@page :first {
  margin: 0;
  border: 0;
  @top-left {
    content: ""; }
  @bottom-right {
    content: ""; } }

/*# sourceMappingURL=djangofr.css.map */
